<ion-header>
  <ion-navbar color="dark">
    <ion-title style="text-align:center;">SELLING SCAN PROTO</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-item>
        <ion-label color="dark">Pharmacy</ion-label>
        <ion-select  [(ngModel)]="currentPharmacy">
            <ion-option *ngFor="let ph of pharmacyArray">{{ph.name}}</ion-option>
          </ion-select>
      </ion-item>

      <h1>DRUGS</h1>
    
  <ion-list *ngIf="currentPharmacy">
    <ion-item class="drugs" *ngFor="let drug of drugs">
      {{ drug.name }}
      <button ion-button (click)="sell(drug)" color="dark" item-end>Sell</button>
    </ion-item>
  </ion-list>
</ion-content>
