<!--
  Generated template for the ChartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="dark">
    <h2 style="color:gold; float: right;">PREMIUM &nbsp;</h2>
    <ion-title style="text-align: center;">STATS</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h3>BE-PHARMA</h3><br>
    <ion-icon style="font-size:200%;" color="danger" name="notifications"></ion-icon>
    <div class="notif"> 💡 It's almost the period in which you sell the most Paracetamol. <br> Think about supplying! </div>

  <ion-slides pager="true">
      <ion-slide>
          
          <h1 style="text-align:center">DRUGS SALES 20km AROUND<br><br>Period: MARCH 2019</h1>
          <div style="width:80%; height: 80%;">
            <google-chart
              style="width:100%; height:100%;"
              [type]="chart1.type"
              [data]="chart1.data"
              [columnNames]="chart1.columnNames"
              [options]="chart1.options"
            >
            </google-chart>
          </div>
      </ion-slide>
      <ion-slide>
          <h1 style="text-align:center">SALE'S COMPARISON 20km AROUND<br><br>Period: MARCH 2019</h1>
          <div style="width:80%; height: 80%;">
            <google-chart
              style="width:100%; height:100%;"
              [type]="chart.type"
              [data]="chart.data"
              [columnNames]="chart.columnNames"
              [options]="chart.options"
            >
            </google-chart>
          </div>
      </ion-slide>
    </ion-slides>
</ion-content>
