page-chart {
    .notif{
        background: black;
        color: white;
        font-weight: 800;
        width: 500px;
        padding:10px;
        font-size:18px;
        text-align: center;
        border-radius:25px;

    }
}
